@import '../settings/colors';
@import '../settings/fonts';



.registration{
    margin-right: 152px;
}

.registration-main{
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
    &-first{  
        font-family: $font-base;
        color: $color-secondary;
        font-size: 18px;
        text-decoration: none;   
        margin-left: 30px;    
        padding: 9px 10px;
    }
    &-second{
        font-family: $font-base;
        color: $color-secondary;
        font-size: 18px;
        text-decoration: none;   
        margin-left: 30px; 
        border: 0.75px solid $color-border;
        padding: 9px 10px;
    }
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    margin-top: 46px;
    &-b{
        font-family: $font-base;
        color: $color-primary;
        margin-left: 55px;
        font-size: 18px;
        text-decoration: none;
    }
}

